$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body, html {
  height:100%;
  font-family: 'Raleway', sans-serif;
  background-color: #999;
}

.floatleft {
  float:left;
  display:inline;
}

.floatright {
  float:right;
  display:inline;
}

.automargin {
  margin-left: auto;
  margin-right: auto;
}


#container {
  background-color: #eee;
  width:100%;
  height:100%;
}

#output-c {
  width:640px;
  height:480px;
  opacity: 0.5;
  background-color:#fff;
  border: 1px solid #333 !important;
  width:640px;
  height:300px;
  display:table;
  z-index:1000;
  position:absolute;
  left:250px;
  top:180px;
}

#output {
  padding: 10px 10px 10px 10px;
  width:100%;
  height:100%;
  overflow:scroll;
}

#locationbar {
  width:100%;
  height:auto;
  margin-bottom:10px;
}

.glyphicon {
  cursor: pointer;
  cursor: hand;
}

.resizable, .draggable {
  opacity: 0.3;
  background-color:#aaa;
  border: 1px solid #666 !important;
}


#blinkreader {
  opacity: 0.5;
  background-color:#fff;
  width:640px;
  min-width:640px;
  min-height:300px;
  height:300px;
  overflow:hidden;
}

#blinkreader .reader {
  position:absolute;
  z-index:1010;
  width: 100%;
  height: 100%;
  color:#aaa;
}

#blinkreader .blink {
  position:absolute;
  z-index:1020;
  width: 100%;
  height: 100%;
  text-align:center;
  color:#00b3ee;
}

.linksview, .entitiesview, .keywordsview, .categoriesview {

}

.listitem {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #333;
  float: left;
  cursor: pointer;
  cursor: hand;
  overflow: hidden;
}

.stylish h1{
    font-size: 2.5em;
    font-family: Georgia;
    letter-spacing: 0.1em;
    color: rgb(142,11,0);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

.stylish h1 span{
    display: block;
    margin-top: 0.5em;
    font-family: Verdana;
    font-size: 0.6em;
    font-weight: normal;
    letter-spacing: 0em;
    text-shadow: none;
}

.stylish .meta {
    font-family: Georgia;
    color: rgba(69,54,37,0.6);
    font-size: 0.85em;
    font-style: italic;
    letter-spacing: 0.25em;
    border-bottom: 1px solid rgba(69,54,37,0.2);
    padding-bottom: 0.5em;
}

.stylish .meta span{
    text-transform: capitalize;
    font-style: normal;
    color: rgba(69,54,37,0.8);
}

.stylish .body p{
    font-family: Verdana;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
    line-height: 1.5em;
    color: rgb(69,54,37);
}

.stylish .body p:first-child{
    font-size: 1.25em;
    font-family: Georgia;
    font-style: italic;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    letter-spacing: 0.1em;
}
.stylish .body p:first-child:first-line{
    font-weight: bold;
}

.stylish date{
    font-family: Georgia;
    color: rgba(69,54,37,0.6);
    font-size: 0.75em;
    font-style: italic;
    letter-spacing: 0.25em;
    border-top: 1px solid rgba(69,54,37,0.2);
    display: block;
    padding-top: 0.5em;
    margin-top: 2em;
}
